<h1>INTERMEDIATE MACHINE LEARNING</h1>
<p>Contents</p>
<ul>
<li>Review</li>
<li>Missing values</li>
<li>Categorical Variables</li>
<li>Pipe lines</li>
<li>Cross validation</li>
<li>XG boost</li>
<li>Data leakage</li>
</ul>

<h2>Review<h2>

In [1]:
import pandas as pd
melbourne_data_path="S:\playing with data with python\kaggle course for _intro to machine learning_ and other resourses\input_data\melbourne_housing\melb_data.csv"
melbourne_data_path2=r"S:\playing with data with python\kaggle course for _intro to machine learning_ and other resourses\input_data\home-data-for-ml-course\train_data.csv"
dataset=pd.read_csv(melbourne_data_path)
dataset2=pd.read_csv(melbourne_data_path2)
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

<h3>Random forest regressor model</h3>
<p>first of all  we will make the ML model. Then we will test the techniques to reduce the effect caused due to missing values</p>

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

y=dataset.Price
features = ['Landsize', 'Rooms', 'Distance', 'Bathroom', 'Propertycount','Car','BuildingArea','YearBuilt']
X=dataset[features]
train_x,val_x,train_y,val_y=train_test_split(X,y,random_state=0)
model=RandomForestRegressor(random_state=1)
# model.fit(train_x,train_y)
# model_prediction=model.predict(val_x)
# accuracy=mean_absolute_error(val_y,model_prediction)
# print(accuracy)

<h2>How to deal with MISSING VALUES</h2>
<p>Some of the methods used for missing values are</p>
<ol>
    <li><b>A Simple Option: Drop Columns with Missing Values</b><p>Unless most values in the dropped columns are missing, the model loses access to a lot of (potentially useful!) information with this approach. </p></li>
    <li><b>A Better Option: Imputation</b><p>Imputation fills in the missing values with some number. For instance, we can fill in the mean value along each column. The imputed value won't be exactly right in most cases, but it usually leads to more accurate models than you would get from dropping the column entirely.</p></li>
    <li><b>An Extension To Imputation</b><p>Imputation is the standard approach, and it usually works well. However, imputed values may be systematically above or below their actual values (which weren't collected in the dataset). Or rows with missing values may be unique in some other way. In that case, your model would make better predictions by considering which values were originally missing.In this approach, we impute the missing values, as before. And, additionally, for each column with missing entries in the original dataset, we add a new column that shows the location of the imputed entries.

In some cases, this will meaningfully improve results. In other cases, it doesn't help at all.</p></li>
</ol>

<h2>Comparing all the methods for the melbourne dataset</h2>

<h3><u>Drop comuns with missing values</u></h3>

In [8]:
# Get names of columns with missing values
cols_with_missing = [col for col in train_x.columns
                     if train_x[col].isnull().any()]

# Drop columns in training and validation data
reduced_X_train = train_x.drop(cols_with_missing, axis=1)
reduced_X_valid = val_x.drop(cols_with_missing, axis=1)

In [9]:
print(reduced_X_train)

       Landsize  Rooms  Distance  Bathroom  Propertycount
664       368.0      3       9.2       2.0         7809.0
3270      586.0      2      10.5       1.0         2947.0
3873      348.0      2      11.2       1.0         8801.0
13170     521.0      3      19.6       1.0        10926.0
1730      687.0      4      11.4       2.0         7822.0
...         ...    ...       ...       ...            ...
13123     212.0      3       5.2       1.0        11918.0
3264      748.0      3      10.5       1.0         2947.0
9845      441.0      4       6.7       2.0        11204.0
10799     606.0      3      12.0       1.0        21650.0
2732      319.0      4       6.4       2.0         7570.0

[10185 rows x 5 columns]

<h3><u>IMPUTATION</u></h3>

In [10]:
model.fit(reduced_X_train,train_y)
model_prediction=model.predict(reduced_X_valid)
accuracy=mean_absolute_error(val_y,model_prediction)
print("model acuracy = ",accuracy,"by dropping the missing values columns")

model acuracy =  224442.8945524291 by dropping the missing values columns

In [11]:
from sklearn.impute import SimpleImputer

imputer=SimpleImputer()
imputed_x_train=pd.DataFrame(imputer.fit_transform(train_x))     #Its necessary to fit transform this
imputed_x_valid=pd.DataFrame(imputer.transform(val_x))
print(imputed_x_train)

           0    1     2    3        4    5           6            7
0      368.0  3.0   9.2  2.0   7809.0  2.0  177.000000  2009.000000
1      586.0  2.0  10.5  1.0   2947.0  2.0   80.000000  1955.000000
2      348.0  2.0  11.2  1.0   8801.0  1.0  154.655601  1964.938304
3      521.0  3.0  19.6  1.0  10926.0  1.0  154.655601  1964.938304
4      687.0  4.0  11.4  2.0   7822.0  2.0  237.000000  1983.000000
...      ...  ...   ...  ...      ...  ...         ...          ...
10180  212.0  3.0   5.2  1.0  11918.0  2.0  154.655601  1964.938304
10181  748.0  3.0  10.5  1.0   2947.0  1.0  101.000000  1950.000000
10182  441.0  4.0   6.7  2.0  11204.0  2.0  255.000000  2002.000000
10183  606.0  3.0  12.0  1.0  21650.0  1.0  154.655601  1964.938304
10184  319.0  4.0   6.4  2.0   7570.0  1.0  130.000000  1915.000000

[10185 rows x 8 columns]

<p><b>As imputation removes the column names we have to re add it</b></p

In [12]:
imputed_x_train.columns=train_x.columns
imputed_x_valid.columns=val_x.columns
print(imputed_x_train)

       Landsize  Rooms  Distance  Bathroom  Propertycount  Car  BuildingArea  \
0         368.0    3.0       9.2       2.0         7809.0  2.0    177.000000
1         586.0    2.0      10.5       1.0         2947.0  2.0     80.000000
2         348.0    2.0      11.2       1.0         8801.0  1.0    154.655601
3         521.0    3.0      19.6       1.0        10926.0  1.0    154.655601
4         687.0    4.0      11.4       2.0         7822.0  2.0    237.000000
...         ...    ...       ...       ...            ...  ...           ...
10180     212.0    3.0       5.2       1.0        11918.0  2.0    154.655601
10181     748.0    3.0      10.5       1.0         2947.0  1.0    101.000000
10182     441.0    4.0       6.7       2.0        11204.0  2.0    255.000000
10183     606.0    3.0      12.0       1.0        21650.0  1.0    154.655601
10184     319.0    4.0       6.4       2.0         7570.0  1.0    130.000000

         YearBuilt
0      2009.000000
1      1955.000000
2      1964.938304
3      1964.938304
4      1983.000000
...            ...
10180  1964.938304
10181  1950.000000
10182  2002.000000
10183  1964.938304
10184  1915.000000

[10185 rows x 8 columns]

<p><b>Now we will fit the model based on the imputed data</b></p>

In [13]:
model.fit(imputed_x_train,train_y)
model_prediction=model.predict(imputed_x_valid)
model_accuracy=mean_absolute_error(val_y,model_prediction)
print("model accuracy= ",model_accuracy,"by imputaion")

model accuracy=  225043.2153291382 by imputaion

<h3><u>Extension to Imputation</u></h3>
<p>but this doesnt work well</p>

In [14]:
# Make copy to avoid changing original data (when imputing)
X_train_plus = train_x.copy()
X_valid_plus = val_x.copy()

# Make new columns indicating what will be imputed
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))

# Imputation removed column names; put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

model.fit(imputed_X_train_plus,train_y)
model_predictions=model.predict(imputed_X_valid_plus)
acurracy=mean_absolute_error(val_y,model_predictions)
print("The accuracy = ",acurracy," for an extension to imputation")

The accuracy =  224895.92135761146  for an extension to imputation

In [15]:
# Shape of training data (num_rows, num_columns)
print(train_x.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (train_x.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(10185, 8)
Car               47
BuildingArea    4843
YearBuilt       4042
dtype: int64

<b>Rows = 10185<br>
Columns = 8</b>

In [16]:
print("Highest percentage of missing values in a column = ",(4843/10185)*100)

Highest percentage of missing values in a column =  47.550319096710844

<p>Since the highest percentage of missing values in a column is greater than 20% it would be a good idea to drop the columnn as it would not contribute much to the process. Still then dropping the columns and imputation have been discussed above</p>

<p><b>Given that thre are so few missing values in the dataset, we'd expect imputation to perform better than dropping columns entirely. However, we see that dropping columns performs slightly better! While this can probably partially be attributed to noise in the dataset, another potential explanation is that the imputation method is not a great match to this dataset. That is, maybe instead of filling in the mean value, it makes more sense to set every missing value to a value of 0, to fill in the most frequently encountered value, or to use some other method. For instance, consider the GarageYrBlt column (which indicates the year that the garage was built). It's likely that in some cases, a missing value could indicate a house that does not have a garage. Does it make more sense to fill in the median value along each column in this case? Or could we get better results by filling in the minimum value along each column? It's not quite clear what's best in this case, but perhaps we can rule out some options immediately - for instance, setting missing values in this column to 0 is likely to yield horrible results!</p>

<h3><u>Imputatiuon using Median values</u></h3>

In [17]:
#IMPUTATION WITH MEDIAN VALUES
from sklearn.impute import SimpleImputer
# Imputation
final_imputer = SimpleImputer(strategy='median')
final_X_train = pd.DataFrame(final_imputer.fit_transform(train_x))
final_X_valid = pd.DataFrame(final_imputer.transform(val_x))

# Imputation removed column names; put them back
final_X_train.columns = train_x.columns
final_X_valid.columns = val_x.columns

In [18]:
#define and fit the model
model = RandomForestRegressor(n_estimators = 100, random_state=0)
model.fit(final_X_train,train_y)

#get prediction and validation using mae
prediction = model.predict(final_X_valid)
print("MAE of median imputer = ")
print(mean_absolute_error(val_y,prediction))

MAE of median imputer =
212566.91682861804

<b>There is a significant reduction in MAE with this median imputer approach

<h3><u>Final preprocessing and the results</h3>

In [19]:
final_X_test = pd.DataFrame(final_imputer.transform(val_x))
prediction = model.predict(final_X_test)
mae_error=mean_absolute_error(val_y,prediction)
print("Mean absolute error = ",mae_error)

Mean absolute error =  212566.91682861804

In [20]:
# Save test predictions to file
output = pd.DataFrame({'Id': val_x.index,
                       'SalePrice': prediction})
output.to_csv('submission.csv', index=False)

<h2><u>CATEGORICAL VARIABLES</h2>
<p>Lets talk what these are.</p><br>
<p>A<b> Categorical variable</b> only takes a limited number of values.<br>For example if a survey ask you what type of cars you drove among : honda, ford ,toyota . Your answer will be limited to only a fixed set of values</p>
<br>
<h4>Three approaches to deal with categorical values</h4>
<ol>
    <li>Drop categorical variables if they are not usefull</li>
    <br>
    <li>Label encode the variables if you want to substitute the values with a number that provide a indisputable ranking to the categories.</li>
    <br>
    <li>One hot encodeing : creates new columns indicating the presence (or absence) of each possible value in the original data.<br>
        <img src="https://i.imgur.com/TW5m0aJ.png"><br>
        <p>In contrast to label encoding, one-hot encoding does not assume an ordering of the categories. Thus, you can expect this approach to work particularly well if there is no clear ordering in the categorical data (e.g., "Red" is neither more nor less than "Yellow"). We refer to categorical variables without an intrinsic ranking as nominal variables.

One-hot encoding generally does not perform well if the categorical variable takes on a large number of values (i.e., you generally won't use it for variables taking more than 15 different values).</p>

In [21]:
# Get list of categorical variables

# Read the data
X = pd.read_csv('home-data-for-ml-course/train.csv', index_col='Id') 
X_test = pd.read_csv('home-data-for-ml-course/test.csv', index_col='Id')


s = (dataset.dtypes == 'object')
object_cols = list(s[s].index)

# Remove rows with missing target, separate target from predictors
X.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X.SalePrice
X.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll drop columns with missing values
cols_with_missing = [col for col in X.columns if X[col].isnull().any()] 
X.drop(cols_with_missing, axis=1, inplace=True)
X_test.drop(cols_with_missing, axis=1, inplace=True)



print("Categorical variables:")
print(dataset[object_cols])

Categorical variables:
              Suburb           Address Type Method   SellerG        Date  \
0         Abbotsford      85 Turner St    h      S    Biggin   3/12/2016
1         Abbotsford   25 Bloomburg St    h      S    Biggin   4/02/2016
2         Abbotsford      5 Charles St    h     SP    Biggin   4/03/2017
3         Abbotsford  40 Federation La    h     PI    Biggin   4/03/2017
4         Abbotsford       55a Park St    h     VB    Nelson   4/06/2016
...              ...               ...  ...    ...       ...         ...
13575  Wheelers Hill      12 Strada Cr    h      S     Barry  26/08/2017
13576   Williamstown     77 Merrett Dr    h     SP  Williams  26/08/2017
13577   Williamstown       83 Power St    h      S     Raine  26/08/2017
13578   Williamstown      96 Verdon St    h     PI   Sweeney  26/08/2017
13579     Yarraville        6 Agnes St    h     SP   Village  26/08/2017

      CouncilArea                  Regionname
0           Yarra       Northern Metropolitan
1           Yarra       Northern Metropolitan
2           Yarra       Northern Metropolitan
3           Yarra       Northern Metropolitan
4           Yarra       Northern Metropolitan
...           ...                         ...
13575         NaN  South-Eastern Metropolitan
13576         NaN        Western Metropolitan
13577         NaN        Western Metropolitan
13578         NaN        Western Metropolitan
13579         NaN        Western Metropolitan

[13580 rows x 8 columns]

In [22]:
# Break off validation set from training data
X_train, X_valid, Y_train, Y_valid = train_test_split(X, y,
                                                      train_size=0.8, test_size=0.2,
                                                      random_state=0)

<h3>METHOD 1: <u>DROP CATEGORICAL VARIABLES</u></h3>

In [23]:

#dropping the categorical values
drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_valid = X_valid.select_dtypes(exclude=['object'])

model.fit(drop_X_train,Y_train)                                      
pred = model.predict(drop_X_valid)
mae = mean_absolute_error(pred,Y_valid)

print("MAE from Approach 1 (Drop categorical variables):")
print(mae)

print("\n",drop_X_train.size," X ",Y_valid.size)

MAE from Approach 1 (Drop categorical variables):
17837.82570776256

 38544  X  292

<b>MAE by dropping categorical values = 19018.395

In [27]:
drop_X_train.dtypes
drop_X_train.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,11694,9,5,2007,2007,48,0,1774,1822,...,774,0,108,0,0,260,0,0,7,2007
871,20,6600,5,5,1962,1962,0,0,894,894,...,308,0,0,0,0,0,0,0,8,2009
93,30,13360,5,7,1921,2006,713,0,163,876,...,432,0,0,44,0,0,0,0,8,2009
818,20,13265,8,5,2002,2002,1218,0,350,1568,...,857,150,59,0,0,0,0,0,7,2008
303,20,13704,7,5,2001,2002,0,0,1541,1541,...,843,468,81,0,0,0,0,0,1,2006

<h3>METHOD 2: <u>LABEL ENCODING</u></h3>
<p>Scikit-learn has a LabelEncoder class that can be used to get label encodings. We loop over the categorical variables and apply the label encoder separately to each column.</p>

### Fitting a label encoder to a column in the training data creates a corresponding integer-valued label for each unique value that appears in the training data. In the case that the validation data contains values that don't also appear in the training data, the encoder will throw an error, because these values won't have an integer assigned to them.

In [28]:
print("Unique values in 'Condition2' column in training data:", X_train['Condition2'].unique())
print("\nUnique values in 'Condition2' column in validation data:", X_valid['Condition2'].unique())

Unique values in 'Condition2' column in training data: ['Norm' 'PosA' 'Feedr' 'PosN' 'Artery' 'RRAe']

Unique values in 'Condition2' column in validation data: ['Norm' 'RRAn' 'RRNn' 'Artery' 'Feedr' 'PosN']

### The problematic columns can be dropped from the dataset

In [29]:
# All categorical columns
object_cols = [col for col in X_train.columns if X_train[col].dtype == "object"]

# Columns that can be safely label encoded
good_cols = [col for col in object_cols if 
                   set(X_train[col]) == set(X_valid[col])]
        
# Problematic columns that will be dropped from the dataset
bad_cols = list(set(object_cols)-set(good_cols))
        
print('Categorical columns that will be label encoded:', good_cols)
print('\nCategorical columns that will be dropped from the dataset:', bad_cols)

Categorical columns that will be label encoded: ['MSZoning', 'Street', 'LotShape', 'LandContour', 'LotConfig', 'BldgType', 'HouseStyle', 'ExterQual', 'CentralAir', 'KitchenQual', 'PavedDrive', 'SaleCondition']

Categorical columns that will be dropped from the dataset: ['Exterior1st', 'ExterCond', 'RoofStyle', 'RoofMatl', 'SaleType', 'Utilities', 'HeatingQC', 'Neighborhood', 'LandSlope', 'Heating', 'Foundation', 'Condition2', 'Functional', 'Exterior2nd', 'Condition1']

In [30]:
from sklearn.preprocessing import LabelEncoder

#Make a copy to avoid loss of original data
# label_X_train = X_train.copy()
# label_X_test  = X_valid.copy()

label_X_train = X_train.drop(bad_cols , axis = 1)
label_X_valid = X_valid.drop(bad_cols , axis = 1)

#Apply label encoder to each column with categorical data
labelEncoder = LabelEncoder()
for col in good_cols:
    label_X_train[col] = labelEncoder.fit_transform(X_train[col])
    label_X_valid[col]  = labelEncoder.transform(X_valid[col])
    
model.fit(label_X_train,Y_train)
predictions = model.predict(label_X_valid)
mae2=mean_absolute_error(predictions,Y_valid)


print("MAE from Approach 2 (Label Encoding):") 
print(mae2)

MAE from Approach 2 (Label Encoding):
17575.291883561644

<b>The MAE = 17575.29188</b>
<br>
<p>In the code cell above, for each column, we randomly assign each unique value to a different integer. This is a common approach that is simpler than providing custom labels; however, we can expect an additional boost in performance if we provide better-informed labels for all ordinal variables.</p>

In [32]:
label_X_train.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,LotConfig,BldgType,HouseStyle,OverallQual,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
619,20,3,11694,1,3,3,4,0,2,9,...,0,108,0,0,260,0,0,7,2007,5
871,20,3,6600,1,3,3,4,0,2,5,...,0,0,0,0,0,0,0,8,2009,4
93,30,3,13360,1,0,1,4,0,2,5,...,0,0,44,0,0,0,0,8,2009,4
818,20,3,13265,1,0,3,1,0,2,8,...,150,59,0,0,0,0,0,7,2008,4
303,20,3,13704,1,0,3,0,0,2,7,...,468,81,0,0,0,0,0,1,2006,4

In [33]:
label_X_train.dtypes

MSSubClass       int64
MSZoning         int32
LotArea          int64
Street           int32
LotShape         int32
LandContour      int32
LotConfig        int32
BldgType         int32
HouseStyle       int32
OverallQual      int64
OverallCond      int64
YearBuilt        int64
YearRemodAdd     int64
ExterQual        int32
BsmtFinSF1       int64
BsmtFinSF2       int64
BsmtUnfSF        int64
TotalBsmtSF      int64
CentralAir       int32
1stFlrSF         int64
2ndFlrSF         int64
LowQualFinSF     int64
GrLivArea        int64
BsmtFullBath     int64
BsmtHalfBath     int64
FullBath         int64
HalfBath         int64
BedroomAbvGr     int64
KitchenAbvGr     int64
KitchenQual      int32
TotRmsAbvGrd     int64
Fireplaces       int64
GarageCars       int64
GarageArea       int64
PavedDrive       int32
WoodDeckSF       int64
OpenPorchSF      int64
EnclosedPorch    int64
3SsnPorch        int64
ScreenPorch      int64
PoolArea         int64
MiscVal          int64
MoSold           int64
YrSold           int64
SaleCondition    int32
dtype: object

In the code cell above, for each column, we randomly assign each unique value to a different integer. This is a common approach that is simpler than providing custom labels; however, we can expect an additional boost in performance if we provide better-informed labels for all ordinal variables.

### We refer to the number of unique entries of a categorical variable as the cardinality of that categorical variable.

In [34]:
# Get number of unique entries in each column with categorical data
object_nunique = list(map(lambda col: X_train[col].nunique(), object_cols))
d = dict(zip(object_cols, object_nunique))

# Print number of unique entries by column, in ascending order
sorted(d.items(), key=lambda x: x[1])

[('Street', 2),
 ('Utilities', 2),
 ('CentralAir', 2),
 ('LandSlope', 3),
 ('PavedDrive', 3),
 ('LotShape', 4),
 ('LandContour', 4),
 ('ExterQual', 4),
 ('KitchenQual', 4),
 ('MSZoning', 5),
 ('LotConfig', 5),
 ('BldgType', 5),
 ('ExterCond', 5),
 ('HeatingQC', 5),
 ('Condition2', 6),
 ('RoofStyle', 6),
 ('Foundation', 6),
 ('Heating', 6),
 ('Functional', 6),
 ('SaleCondition', 6),
 ('RoofMatl', 7),
 ('HouseStyle', 8),
 ('Condition1', 9),
 ('SaleType', 9),
 ('Exterior1st', 15),
 ('Exterior2nd', 16),
 ('Neighborhood', 25)]

#### Each value represents the no of unique values as well as the no of columns that will be required to uniquely one hot encode the values.

For large datasets with many rows, one-hot encoding can greatly expand the size of the dataset. For this reason, we typically will only one-hot encode columns with relatively low cardinality. Then, high cardinality columns can either be dropped from the dataset, or we can use label encoding.

#### Entries added by one hot encoding = (Rows * unique values) -rows
#### Entries added bu label encoding = 0

<h3>METHOD 3 : <u>One-Hot encoding</u></h3>

We use the OneHotEncoder class from scikit-learn to get one-hot encodings. There are a number of parameters that can be used to customize its behavior.

* We set handle_unknown='ignore' to avoid errors when the validation data contains classes that aren't represented in the training data, and
* setting sparse=False ensures that the encoded columns are returned as a numpy array (instead of a sparse matrix).

To use the encoder, we supply only the categorical columns that we want to be one-hot encoded.

But, instead of encoding all of the categorical variables in the dataset,  create a one-hot encoding for columns with cardinality less than 10.

In [35]:
# Columns that will be one-hot encoded
low_cardinality_cols = [col for col in object_cols if X_train[col].nunique() < 10]

# Columns that will be dropped from the dataset
high_cardinality_cols = list(set(object_cols)-set(low_cardinality_cols))

print('Categorical columns that will be one-hot encoded:', low_cardinality_cols)
print('\nCategorical columns that will be dropped from the dataset:', high_cardinality_cols)

Categorical columns that will be one-hot encoded: ['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'ExterQual', 'ExterCond', 'Foundation', 'Heating', 'HeatingQC', 'CentralAir', 'KitchenQual', 'Functional', 'PavedDrive', 'SaleType', 'SaleCondition']

Categorical columns that will be dropped from the dataset: ['Exterior1st', 'Neighborhood', 'Exterior2nd']

In [37]:
from sklearn.preprocessing import OneHotEncoder

X_train_highc_dropped = X_train.drop(high_cardinality_cols , axis = 1)
X_valid_highc_dropped = X_valid.drop(high_cardinality_cols , axis = 1)

#Apply OHE only to categorical data columns
oh_encoder = OneHotEncoder(handle_unknown="ignore",sparse = False)
oh_cols_train = pd.DataFrame(oh_encoder.fit_transform(X_train_highc_dropped[low_cardinality_cols]))
oh_cols_valid = pd.DataFrame(oh_encoder.transform(X_valid_highc_dropped[low_cardinality_cols]))

#Putting back the index removed by one hot encoder
oh_cols_train.index = X_train_highc_dropped.index
oh_cols_valid.index = X_valid_highc_dropped.index

#Remove categorical columns - as one hot enoded columns will  replace them
num_X_train = X_train_highc_dropped.drop(low_cardinality_cols, axis=1)
num_X_valid = X_valid_highc_dropped.drop(low_cardinality_cols, axis=1)

# Add one hot encoding columns to numerical values
oh_X_train = pd.concat([num_X_train,oh_cols_train], axis=1)
oh_X_valid = pd.concat([num_X_valid,oh_cols_valid], axis=1)

print("MAE from one hot encoding: ")
model.fit(oh_X_train,Y_train)
prediction = model.predict(oh_X_valid)
mae_score=mean_absolute_error(prediction,Y_valid)
print(mae_score)

MAE from one hot encoding:
17525.345719178084

#### MAE score by one hot encoding process = 17525.345

## Conclusion
The world is filled with categorical data. You will be a much more effective data scientist if you know how to use this common data type!

## PIPELINES
A critical skill for deploying (and even testing) complex model with preprocessing.
Pipeline bundles preprocessing and modeling steps so you can use the whole bundle as if it were a single step.

Benefits of using pipelines:
* Cleaner code
* Fewer bugs
* Easier to deploy
* More options for model validation

Steps to construct a pipeline:
1. Define preprocessing steps
2. define the model
3. Create and evalutate the pipeline

#### Detailed process to create a pipeline is given in this notebook:
<a href="./Pipelines%20for%20machine%20learning.ipynb">Pipelines for ML</a>
This notebook is available in this directory

# CROSS VALIDATION
Using cross validation for better model performance

For example, we could begin by dividing the data into 5 pieces, each 20% of the full dataset. In this case, we say that we have broken the data into 5 "folds".

<img src="https://i.imgur.com/9k60cVA.png"></img>
<br>
In one case we use first 20% as validation and the rest as trainning and in the next case we will use the second 20% as validation and the rest of the data as training. We will follow the same trend for subsequent steps

<b>When to use cross validation</b>
* Use when the dataset is small.
* For larger datasets on using cross validation the time taken will be too much. FOr large dataset cross validation is not usually required.
* Still then use cross validation to check if your model performs consistently over all data

In [38]:
from sklearn.model_selection import cross_val_score

# mutilply by -1 to get +ve values since sklearn predicts -ve values
cvScore = -1 * cross_val_score

TypeError: unsupported operand type(s) for *: 'int' and 'function'