<h1>KAGGLE: Intro to machine learning</h1>
<h5><u>PANDAS</u></h5>
        <p>Here are some code snippets that are need to get started pandas</p>

In [1]:
import pandas as pd
dataset = "S:\playing with data with python\kaggle course for _intro to machine learning_\iris.csv"  #use this to assign the data set to a variable.
data=pd.read_csv(dataset)                 #use this to read the dataset into a variable.
descp=data.describe()                           #This function returns the essential info like mean, median, percentile,
                                          #and the columns.
#data.columns()                            #retuns the columns in the dataset
clean_data = data.dropna(axis=0)          #dropna drops the missing values
print(descp)

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

<h3>Selecting The Prediction Target</h3>
<p>You can pull out a variable with dot-notation. This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.

We'll use the dot notation to select the column we want to predict, which is called the prediction target. 
By convention, the prediction target is called y. </p>

In [38]:
y =data.Species                         #Selects the prediction target with the dot operator
print (y)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

<h3>Choosing "Features"</h3>
<p>The columns that are inputted into our model (and later used to make predictions) are called "features."
We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).</p>

In [6]:
iris_features=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']         #this stores the dependent variables
X=data[iris_features]                                                                 #stores the features in a X variable
X.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
X.head()                                                 #displays the head rows

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

<h3>Building Your Model</h3>
<p>You will use the scikit-learn library to create your models. When coding, this library is written as sklearn, as you will see in the sample code. Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.</p>

<h5>The steps to building and using a model are:</h5>

<p>Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.<br>
Fit: Capture patterns from provided data. This is the heart of modeling.<br>
Predict: Just what it sounds like<br>
Evaluate: Determine how accurate the model's predictions are.</p>

<h5>We will be using the scikit learn library to implement our models</h5>

In [39]:
from sklearn.tree import DecisionTreeRegressor
iris_model=DecisionTreeRegressor(random_state=1)
#iris_model.fit(X, y)                              #This line has been commented as decission tree will not work here

<p>Here we have used the Decission tree model from scikit learn.<br>You can study yourself about he decission tree model.</p>
<h5>DONT WORRY Decission Tree WILL NOT WORK HERE. YOU WILL HAVE TO USE KNN Model HERE</h5>

<h3>MAKE PREDICTIONS</h3>
<p>To strart making predictions we will test the model on the head rows of the data</p>

In [17]:
print ("Making predictions on this :")
X.head()

Making predictions on this :

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [40]:
print ("the predicted values are:")
#print(iris_model.predict(X.head()))

the predicted values are:

<h5>! THIS MODEL CANT PREDIC THE IRIS DATASET</h5>

<h3>What is model validation</h3>